* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column;

}



.contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;

}

.imgInicial {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
  
    height: min-content;

}

.imagenIcial img {
    display: flex;
    height: auto;

}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 555px;
    /* padding-top: 20%; */
    height: 600px;
    background-color: #F5F5F5;
    border-radius: 10%;
}



.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    height: 92px;

}

input {
    display: flex;
    flex-direction: column;
    width: 386px;
    height: 40px;
    padding: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: solid 1px #EBEEF2;
    
    


}

button {
    width: 212px;
    height: 52px;
    border-radius: 10px;
    padding: 16;
    gap: 10px;
    background-color: #456CB7;
    font-size: 16px;
    color: white;
    width: 386px;
}

.ContenedorTareas {
	/*Flex */
	width: 80%;

	display: flex;
    flex-direction: row;
	flex-wrap: wrap;	
    margin: 50px;
    padding: 10px 10px 10px 10px;
    border: 2px solid rgba(140, 134, 134, .1);
    min-width: auto;
    align-items: flex-start;
    align-content: center;
    border-radius: 10px;
    background-color: rgba(140, 134, 134, .1);
    
    
     

	/* Grid */
	/* 
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px; 
	*/

}

.ContenedorTareas p{
    padding: 1rem 0 1rem 0;

}





.ContenedorTareas button {
    width: 250px;
    height: 26px;
    background-color: #FFFFFF;
    color: #60D0F4;
    border: solid 1px #60D0F4;
    transition: all 1s ease;
  
    
}
.ContenedorTareas button:hover {
    background: #60D0F4;
    color: #fff !important;
  }





.Card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
	border-radius: 10px;
	min-height: 180px;
    min-width: 250px;
	font-weight: lighter;
	padding: 1rem;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    width: 53px;
    height: 120px;
    font-size: 14;
    margin: 20px 15px 20px 15px;
    background-color: #FFFFFF;

	/* Flex */
	width: calc(33% - 16px);
    
}





.ContenedorTareas--Nuevas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
   
}

.ContenedorTareas--Produccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
}

.ContenedorTareas--Terminadas {  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
}



.Card .Textos {
	height: 100%;
	
	/* Flex */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.Card--New {
    border: 2px solid #BDA038;
}

.Card--New:hover {      
   box-shadow: 0 1px 14px  #BDA038;
   transition: all 0.2s ease;

}

.Card--Pro {
    border: 2px solid #FFCA0C;
}
.Card--Pro:hover {      
    box-shadow: 0 1px 14px  #FFCA0C;
    transition: all 0.2s ease;
 
 }
.Card--Terminadas {
    border: 2px solid #05FF00;
}
.Card--Terminadas:hover {      
    box-shadow: 0 1px 14px  #05FF00;
    transition: all 0.2s ease;
 
 }




