* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    
}

.contenedor{
    display: flex;
    flex-direction: row;
    
    

}

#imginicial {
    display: flex;
    height: auto;
    padding: 50px;
   
  

}

.contenedor img{

    display: flex;
    height: auto;
  
    

}


.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

